@page "/gameOver/{CorrectWord}/{GuessedWords}"

<div class="text-center">
    <h1 class="text-dark">Game Over</h1>
    <p class="lg-text text-info">Correct word was: <span>@CorrectWord</span></p>
    <p class="lg-text">You managed to guess <span class="font-weight-bold">@GuessedWords</span> words.</p>
    <a href="/game" class="btn btn-dark btn-lg">Play again</a>
</div>

@code{
    [Parameter]
    public string CorrectWord { get; set; }

    [Parameter]
    public string GuessedWords { get; set; }
}
