@page "/"
@inject ApiClient Client
@inject ApplicationState State
@inherits IndexComponent

@if (!State.IsLoggedIn)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hangman</h1>
            <p class="lead">
                Login if you want to enjoy yourself playing Hangman.
            </p>
            <p class="lead">
                Register if you do not have an account.
            </p>
        </div>
    </div>
}
else
{
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Hangman</h1>
                <p class="lead">
                    Hello,  @State.Username are you ready for fun. Choose level and click Start button to begin.
                </p>
                <p class="lead">
                    Register if you do not have an account.
                </p>
                <div class="form-group w-25">
                    <label>Choose level</label>
                    <select class="form-control" @bind="@Level">
                        <WordDifficultyList></WordDifficultyList>
                    </select>
                </div>
                <div class="form-group w-25">
                    <label>Choose category</label>
                    <select class="form-control" @bind="@CategoryId">
                        @if(ShouldRenderCategories)
                        {
                            <WordCategoriesList></WordCategoriesList>
                        }
                    </select>
                </div>
                <button class="btn btn-dark btn-lg" @onclick="@StartGame">Start</button>
            </div>
        </div>
    </div>
}
