@page "/login"
@inherits LoginComponent
<h3>Login</h3>

<ErrorList Errors=@this.Response?.Errors />

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 my-3">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" required @bind="InputModel.Username" />
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" @bind="InputModel.Password" required />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" @onclick="@LoginUser">Login</button>
        </div>
    </div>
</div>

