@page "/register"
@inherits RegisterComponent

<h1>Register</h1>

<ErrorList Errors=@this.Response?.Errors />

<div class="row">
    <div class="col-md-4">
        <section>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" @bind="InputModel.Username" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" @bind="InputModel.Email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" @bind="InputModel.Password" />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" @bind="InputModel.ConfirmPassword" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" @onclick="@RegisterUser">Register</button>
            </div>
        </section>
    </div>
</div>
