@page "/words/upload"
@inherits WordsUploadComponent

<h3>Select file which you want to upload.</h3>

<div class="mb-4">
    <input type="file" id="fileUpload" />
</div>
<button @onclick="@UploadFile" class="btn btn-success">Upload</button>
