@inject ApiClient Client

@foreach (var category in WordCategories)
{
    <option value="@category.Id">@category.Name</option>
}

@code {
    public IEnumerable<WordCategoryResponseModel> WordCategories { get; set; } = new List<WordCategoryResponseModel>();

    protected override async Task OnInitAsync()
    {
        var response = await Client.GetAllCategories();
        WordCategories = response.Data;
    }
}
