@inject ApiClient Client

@foreach (var category in WordCategories)
{
    if (index == 1)
    {
        <option selected value="@category.Id">@category.Name</option>
    }
    else
    {
        <option value="@category.Id">@category.Name</option>
    }
    index++;
}

@code {
    int index = 1;
    public IEnumerable<WordCategoryResponseModel> WordCategories { get; set; } = new List<WordCategoryResponseModel>();

    protected override async Task OnInitAsync()
    {
        var response = await Client.GetAllCategories();
        WordCategories = response.Data;
    }
}
